<!-- Content Starts -->

<div class="container bodyContainer">
	<div class="contentTitle">
		Agency Details
	</div>
	<div class="inner-content">
		<form name="agencyDetailsForm" ng-submit="" novalidate>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Display Name<span class="CLR">*</span></label>
					<input type="text" class="form-control1 col-sm-6" name="displayname" ng-model="agencyDetailsControllerScope.agencyDetails.displayname" required/>
					<div class="col-sm-6"></div>
		    		<span ng-show="agencyDetailsForm.displayname.$invalid && agencyDetailsForm.displayname.$touched" class="COLORED FONT12PX col-sm-6">This field is mandatory.</span>		    		
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Business Description<span class="CLR">*</span></label>
					<textarea class="form-control1 col-sm-6 HEIGHT" name="businessdesc" ng-model="agencyDetailsControllerScope.agencyDetails.businessdesc" required>
					</textarea>
					<div class="col-sm-6"></div>
	    			<span ng-show="agencyDetailsForm.businessdesc.$invalid && agencyDetailsForm.businessdesc.$touched" class="COLORED FONT12PX col-sm-6">This field is mandatory.</span>
				</div>
			</div>
		</form>
	</div>
	<div class="form-details1">
		<button class="btn btn-default MARGNLFT" type="submit" ng-click="agencyDetailsControllerScope.addvendordetail(agencyDetailsControllerScope.agencyDetails)">Save</button>
		<a href="#/"><button class="btn GRAYCLR" type="submit">Decline</button></a>
	</div>
</div>
<!-- Content Ends -->