<!-- Content Starts -->

<div class="container bodyContainer">
	<div class="contentTitle">
		Bank Details
	</div>
	<div class="inner-content">

		<div>
			<p class="bnkpara"> <span class="CRR">*</span>A sample amount will be transferred to your bank account in the next 2 working days, post which a verification link will be made available in "Bank details" section. Please confirm the amount received to verify your updated bank account details. </p>
		</div>
		<form name="bankDetailsForm" ng-submit="" novalidate>

			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Account Holder Name<span class="CLR">*</span></label>

					<input type="text" name="accountholdername" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="bankDetails.accountholdername" class="form-control1 col-sm-6" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "bankDetailsForm.accountholdername.$invalid && bankDetailsForm.accountholdername.$touched" class="COLORRED FONT12PX">
							<span ng-show = "bankDetailsForm.accountholdername.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="bankDetailsForm.accountholdername.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Account Number<span class="CLR">*</span></label>	
					<input type="password" name="accountnumber" ng-pattern="/^[0-9]*$/" ng-model="bankDetails.accountnumber" class="form-control1 col-sm-6" maxlength="20" required/>
					<div class="col-sm-6"></div>
					<span ng-show="bankDetailsForm.accountnumber.$invalid && bankDetailsForm.accountnumber.$touched" class="COLORRED FONT12PX col-sm-6">
						<span ng-show = "bankDetailsForm.accountnumber.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
						<span ng-show ="bankDetailsForm.accountnumber.$error.pattern" class="COLORRED FONT12PX"> Numeric characters only.</span>
					</span>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Retype Account Number<span class="CLR">*</span></label>	
					<input type="text" name="reaccnum" ng-pattern="/^[0-9]*$/" ng-model="bankDetails.reaccnum" compare-to="bankDetailsControllerScope.bankDetails.accountnumber" class="form-control1 col-sm-6" maxlength="20" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="bankDetailsForm.reaccnum.$invalid && bankDetailsForm.reaccnum.$touched" class="COLORRED FONT12PX">
							<span ng-show = "bankDetailsForm.reaccnum.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show="bankDetailsForm.reaccnum.$error" class="COLORRED FONT12PX"> Confirm your account number.</span>
							<span ng-show ="bankDetailsForm.reaccnum.$error.pattern" class="COLORRED FONT12PX"> Numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">IFSC Code<span class="CLR">*</span></label>	
					<input type="text" name="Ifsc" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="bankDetails.Ifsc" class="form-control1 col-sm-6" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="bankDetailsForm.Ifsc.$invalid && bankDetailsForm.Ifsc.$touched" class="COLORRED FONT12PX">
							<span ng-show = "bankDetailsForm.Ifsc.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="bankDetailsForm.Ifsc.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Bank Name</label>
					<select class="SELECTIMG" ng-model="bankDetails.bankname" ng-disabled="bankDetailsForm.$invalid">
						<option ng-option value="" ng-selected="selected"></option>
						<option ng-option ng-repeat="item in items">{{item.name}}</option>
						<option ng-option value="Canara Bank">Canara Bank</option>
						<option ng-option value="HDFC Bank">HDFC Bank</option>
						<option ng-option value="AXIS Bank">AXIS Bank</option>
						<option ng-option value="Indian Bank">Indian Bank</option>
						<option ng-option value="Indus ind Bank">Indus ind Bank</option>
					</select>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">State</label>
					<select class="SELECTIMG" ng-model="bankDetails.state" ng-disabled="bankDetailsForm.$invalid">
						<option ng-option value="" ng-selected="selected"></option>
						<option ng-option ng-repeat="item in items">{{item.name}}</option>
						<option ng-option value="Karnataka">Karnataka</option>
						<option ng-option value="TamilNadu">TamilNadu</option>
						<option ng-option value="Andhra Pradesh">Andhra Pradesh</option>
						<option ng-option value="Kerala">Kerala</option>
						<option ng-option value="Maharastra">Maharastra</option>
					</select>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">City</label>
					<select class="SELECTIMG" ng-model="bankDetails.city" ng-disabled="bankDetailsForm.$invalid">
						<option ng-option value="" ng-selected="selected"></option>
						<option ng-repeat="item in items">{{item.name}}</option>
						<option ng-option value="Bangalore">Bangalore</option>
						<option ng-option value="Chennai">Chennai</option>
						<option ng-option value="Hyderabad">Hyderabad</option>
						<option ng-option value="Trivandrum">Trivandrum</option>
						<option ng-option value="Mumbai">Mumbai</option>
					</select>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Branch</label>
					<select class="SELECTIMG" ng-model="bankDetails.branch" ng-disabled="bankDetailsForm.$invalid">
						<option ng-option value="" ng-selected="selected"></option>
						<option ng-repeat="item in items">{{item.name}}</option>
						<option ng-option value="HSR Layout">HSR Layout</option>
						<option ng-option value="Adyar">Adyar</option>
						<option ng-option value="Nagar">Nagar</option>
						<option ng-option value="Balgohli">Balgohli</option>
						<option ng-option value="Wankade">Wankade</option>
					</select>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Address Proof</label>
					<select class="SELECTIMG" ng-model="bankDetails.addressprooftype">
					  <option ng-option value="Passport">Passport</option>
					  <option ng-option value="Ration Card">Ration Card</option>
					</select>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file-3" class="inputfile" id="file-3" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file-3"> -->
						<label class="btn btn-upload" for="up-file1">
						   <input id="up-file1" type="file" class="btn-updsp" onchange="$('#upload-file-info01').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info01"></span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Cancelled Cheque</label>
					<div class="col-sm-6 PADDLEFT">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file1" class="inputfile" id="file1" file-model="bankDetailsControllerScope.myFile" ng-click="bankDetailsControllerScope.uploadFile()" ng-model="bankDetailsControllerScope.user.file1">
						<label for="file1" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload MARGINRIGHT" for="up-file2">
						   <input id="up-file2" type="file" class="btn-updsp" onchange="$('#upload-file-info02').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info02"></span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="form-details1">
		<button class="btn btn-default MARGNLFT" type="submit" ng-click="bankDetailsControllerScope.addbankdetail(bankDetails)">Save</button>
		<a href="#/"><button class="btn GRAYCLR" type="submit">Decline</button></a>
	</div>
			
</div>
<!-- Content Ends -->