<!-- Content Starts -->

<div class="container bodyContainer">
	<div class="contentTitle">
		Business Details
	</div>
	<div class="inner-content">
		<form name="businessDetailsForm" action="" novalidate>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Business Name<span class="CLR">*</span></label>
					<input type="text" id="businessName" class="col-sm-6 form-control1" name="businessName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="user.businessName" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessName.$invalid && businessDetailsForm.businessName.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessName.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessName.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only </span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Business Type<span class="CLR">*</span></label>
					<select class="SELECTIMG" ng-model="user.companyType">
					  <option ng-option value="" >Proprietor</option>
					  <option ng-option value="Company">Company</option>
					</select>
				</div>
			</div>
			<div class="form-padding" ng-if="user.companyType == 'Company'">
				<div class="row">
					<label class="col-sm-6">Business PAN<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="businessPAN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="user.businessPAN" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessPAN.$invalid && businessDetailsForm.businessPAN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessPAN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessPAN.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only </span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file-3" class="inputfile" id="file-3" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file-3">
						<label for="file-3" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload" for="file1">
						   <input id="file1" type="file" class="btn-updsp" onchange="$('#upload-file-info1').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info1"></span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Personal PAN<span class="CLR">*</span></label>
					<input type="text" id="personalPAN" class="col-sm-6 form-control1" name="personalPAN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="user.personalPAN" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.personalPAN.$invalid && businessDetailsForm.personalPAN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.personalPAN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.personalPAN.$error.pattern" class="COLORRED FONT12PX">Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file" class="inputfile" id="file" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file">
						<label for="file" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload" for="file2">
						   <input id="file2" type="file" class="btn-updsp" onchange="$('#upload-file-info2').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info2"></span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">TIN/VAT<span class="CLR">*</span></label>
					<input type="text" id="TIN" class="col-sm-6 form-control1" name="businessTIN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="user.businessTIN" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessTIN.$invalid && businessDetailsForm.businessTIN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessTIN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessTIN.$error.pattern" class="COLORRED FONT12PX">Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file1" class="inputfile" id="file1" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file1">
						<label for="file1" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload" for="file3">
						   <input id="file3" type="file" class="btn-updsp" onchange="$('#upload-file-info3').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info3"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-7">
						<input type="checkbox" name="checkTIN" ng-model="user.checkTIN" id="CHCKBX1" />
    					<label for="CHCKBX1">I don't have TAN</label>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">TAN<span class="CLR">*</span></label>
					<input type="text" id="TAN" class="col-sm-6 form-control1" name="businessTAN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="user.businessTAN" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessTAN.$invalid && businessDetailsForm.businessTAN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessTAN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessTAN.$error.pattern" class="COLORRED FONT12PX">Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file2" class="inputfile" id="file2" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file2">
						<label for="file2" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload" for="file4">
						   <input id="file4" type="file" class="btn-updsp" onchange="$('#upload-file-info4').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info4"></span>
						<!-- <a href="#">Upload</a> -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-7">
						<input type="checkbox" name="checkTAN" ng-model="user.checkTAN" id="CHCKBX2" />
    					<label for="CHCKBX2">I don't have TAN</label>
					</div>
				</div>
				 
			</div>
		</form>
	</div>
			
		<div class="form-details1">
			<div>
			<button class="btn btn-default MARGNLFT" ng-click="businessDetailsControllerScope.addbusinessdetail(user)">Save</button>
			<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
			
			</div>
		</div>
	
</div>
<!-- Content Ends -->

