<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ad2Publish</title>
    <link rel="icon" href="ui/images/favicon.png" type="image/png">
    <!-- Bootstrap -->
    <link href="ui/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="ui/css/owl.carousel.css">    
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css'>
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <!-- Main Styles -->
    <link rel="stylesheet" type="text/css" href="ui/css/styles.css">
    <link rel="stylesheet" type="text/css" href="ui/css/responsive.css">
    
  

    <script type="text/javascript" src="ui/js/modernizr-2.5.3.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="ui/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="ui/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="ui/js/main.js"></script>   
   <script type="text/javascript" src="ui/js/controller/menusController.js"></script> 
     

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


	