	<header ng-controller="menusController as menusControllerScope" >
		<div class="container">
			<div class="top-links visible-xs">
				<a class="login" href="#/login"></a>
				<a class="contact" href="contact-us.html"></a>
			</div>	    
			<div class="col-sm-4 logo">
				<a href="index.html"><img src="ui/images/logo.png " class="padding14px" alt="Ad2Publish"/></a>
			</div>
			<div class="col-sm-8">
				<nav class="navbar navbar-default">

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand visible-xs">Menu</a>
					</div>
					<!-- Collect the quick links -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-quickLinks displayInline">
							<li><a href="faqs.html">Download Vendor App</a></li>
							<li class="hidden-xs"><a href="contact-us.html">Contact Vendor Support</a></li>
							<li class="hidden-xs" ng-if="!usrName"><a href="#/login">Login</a></li>	
							<li  class="hidden-xs" ng-if="usrName"><span >{{usrName}}</span></li>								
						</ul>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="#/bankDetails">Bank Details</a></li>
							<li><a href="#/agencyDetails">Agency Details</a></li>
							<li><a href="#/vendorfaqs">Faq's</a></li>
							<li><a href="#/businessDetails">Business Details</a></li>	    
						</ul>
					</div>

				</nav>
			</div>
		</div>    
	</header>
	