<html>
<head>
<link rel="stylesheet" type="text/css" href="ui/css/styles.css">
</head>


<div class="container bodyContainer1">
    <div>
    <div class="WIDTH240" >
            <div class="BACKGROUNDWHITE">
                <legend>GOTO</legend>
                <legend>GOTO</legend>
                <legend>GOTO</legend>
                <legend>GOTO</legend>
                <legend>GOTO</legend>
                <legend>GOTO</legend>   
            </div>
            
        </div>
        <div class="WIDTH710 ">
        <h1 class="contentTitle">FAQ</h1>
            <div class="inner-contant">
                
                <!-- <h2 class="head1">EXPAND ALL</h2> -->
                <div class="expandcollapse-item">
                    <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active,  'expandcollapse-heading-expanded': !active}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active, 'TURNDOWNARROW': !active}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active, 'hidediv': !active}" >
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>

                <div class="expandcollapse-item">
                    <div ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active1, 'TURNDOWNARROW': !active1}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active1, 'hidediv': !active1}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active2 = !active2" ng-class="{'expandcollapse-heading-collapsed': active2, 'expandcollapse-heading-expanded': !active2}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active2, 'TURNDOWNARROW': !active2}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active2, 'hidediv': !active2}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active3 = !active3" ng-class="{'expandcollapse-heading-collapsed': active3, 'expandcollapse-heading-expanded': !active3}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active3, 'TURNDOWNARROW': !active3}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active3, 'hidediv': !active3}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active4 = !active4" ng-class="{'expandcollapse-heading-collapsed': active4, 'expandcollapse-heading-expanded': !active4}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active4, 'TURNDOWNARROW': !active4}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active4, 'hidediv': !active4}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active5 = !active5" ng-class="{'expandcollapse-heading-collapsed': active5, 'expandcollapse-heading-expanded': !active5}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active5, 'TURNDOWNARROW': !active5}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active5, 'hidediv': !active5}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active6 = !active6" ng-class="{'expandcollapse-heading-collapsed': active6, 'expandcollapse-heading-expanded': !active6}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active6, 'TURNDOWNARROW': !active6}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active6, 'hidediv': !active6}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active7 = !active7" ng-class="{'expandcollapse-heading-collapsed': active7, 'expandcollapse-heading-expanded': !active7}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active7, 'TURNDOWNARROW': !active7}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active7, 'hidediv': !active7}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active8 = !active8" ng-class="{'expandcollapse-heading-collapsed': active8, 'expandcollapse-heading-expanded': !active8}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active8, 'TURNDOWNARROW': !active8}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active8, 'hidediv': !active8}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active9 = !active9" ng-class="{'expandcollapse-heading-collapsed': active9, 'expandcollapse-heading-expanded': !active9}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active9, 'TURNDOWNARROW': !active9}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active9, 'hidediv': !active9}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active10 = !active10" ng-class="{'expandcollapse-heading-collapsed': active10, 'expandcollapse-heading-expanded': !active10}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active10, 'TURNDOWNARROW': !active10}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active10, 'hidediv': !active10}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active11 = !active11" ng-class="{'expandcollapse-heading-collapsed': active11, 'expandcollapse-heading-expanded': !active11}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active11, 'TURNDOWNARROW': !active11}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active11, 'hidediv': !active11}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>
                <div class="expandcollapse-item">
                    <div ng-click="active12 = !active12" ng-class="{'expandcollapse-heading-collapsed': active12, 'expandcollapse-heading-expanded': !active12}">
                        <div>
                            <p>Why should I sell on Flipkart?</p>
                            <img src="ui/images/up-arrow.png" class="UPARROW" ng-class="{'TURNUPARROW': active12, 'TURNDOWNARROW': !active12}">
                        </div>
                    </div>

                    <div ng-class="{'showdiv': active12, 'hidediv': !active12}">
                        <div class="expand-collapse-content">
                            Flipkart is the leader in Indian e-commerce with maximum online reach and highest credibility. With more than 7.5 crore registered customers and 80 lakh shipments every month to over 1000 cities, we are the strongest partner to take your products to customers all over India
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </div>
    
</div>