body ,p { margin: 0px; padding: 0px;}
body, html {
    font-family: 'Riona Sans',sans-serif !important;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    border-bottom: 2px solid #ccc;
    height: 80px;
}
.header{
    font-size: 12px;
    background: #004993;
    color : white;
}
a { 
    color : white;
    text-decoration: none !important; 
     }
.header .logo_div{
    margin-top: 20px;
    padding-left: 20px;
}
.header ul{
    float: right;
}
.header li{
    float: left;
    padding: 5px;
    list-style: none;
}
.header .BORDRT1PX {
    border-right:  1px solid white;
}

input {
    padding: 10px 15px;
    margin: 0;
    border: 0;
    color: #fff;   
    height: auto;
    border-radius: 2px;
}

/* glyphicon align*/
.inner-addon { 
    position: relative; 
    margin-bottom: 10px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  color: rgb(128, 128, 128);
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px; top: -1px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.modal-header{
    color: #004993;
}

.COLORRED{
    color:red;
}
.form-control:focus{
    border-color: #999;
    box-shadow: none;
}

.ng-touched.ng-invalid-required {
    
    border-color: red;
}
/* Show red border when stuff has been typed in, but its invalid */
.ng-dirty.ng-invalid-required {
  border-color: red;
 
}

.ng-touched.ng-invalid-required {
  border-color: red;
  color: red;
}
/*Show normal border color when typed in for the first time*/
.ng-submitted input.ng-invalid{
    border-color: red;
}

.or {
    text-align: center;
    border-top: 1px solid #e8e8e8;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 20px;
    width: 94%;
    margin-left: 10px;
}
.or_text {
    background-color: #fff;
    display: inline-block;
    color: #999;
    margin-top: -10px;
    position: relative;
    padding: 0px 10px;
    cursor: pointer;
}
.social_login_div{
    position: relative;
    display: inline-block;
        padding: 0px 25px;
}
.signup_model_animtn{
    margin-bottom: 10px;
    width: 213px;
}
.modal-content{
    border-radius: 6px;
}

.IFSC{
    float: right;
    font-size: 12px;
    color: #004993;
}

.modalDialog1 {
   position: fixed;
   font-family: Arial, Helvetica, sans-serif;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}
.modalDialog1:close {
   position: fixed;
   font-family: Arial, Helvetica, sans-serif;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 99999;
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
   transition: opacity 400ms ease-in;
   pointer-events: none;
}
.menu-content{
    border-radius: 6px;
    width:630px;
}

.menu-dialog{
    width:630px;
    top: 50px;
}

.bnkpara{
    font-size: 12px;
    color: #999;
}

.menu-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
}
.modal-footer{
    padding: 10px 15px;
    border-radius: 0 0 6px 6px;
}
.btn-social, .btn{
    font-size: 12px;
    border: none;
}
.form-control{
    font-size: 12px;
    width: 100%;
    padding: 6px 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 2px;
}
.btn-facebook:hover{
    opacity: .9;
    background-color: #3b5998;
}
.btn-google:hover {
    opacity: .9;
    background-color: #c23321;
}
.btn-linkedin:hover {
    opacity: .9;
    background-color: #007bb6;
}
.btn-twitter:hover{
    background-color: #55acee;
    opacity: .9;
}
.grayColor{
    color: #999;
}
.btn-primary{
    background: #004993;
    border: none;
}
.FTRPOP{
    padding: 10px;
    border-top: 1px solid #ccc;
}
.btnpmy{
    background: #004993 !important;
    border: none !important;
    color: #fff;
    width: 100px;
    float: none;
    border-radius: 0px !important;
}
.btnpmc{
    background: #ccc !important;
    border: none !important;
    color: #fff;
    width: 100px;
    float: none;
    border-radius: 0px !important;
}
.MRG{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.WDTH{
    width:40%;
}
.UPLDFL{
    padding: 0px !important;
    border-radius: 0px !important;
    width: 16%;
    margin-top: -17px;
    float: right;
}
.modal-body {
    position: relative;
    padding: 15px;
    overflow-y: auto;
}
.HGTMDB{
    height: 450px;
}
.HGTMDA{
    height: 210px;
}
label{
    color: #404040;
}
.header a:hover, a:focus{
    color: white;
    outline: none;
}
.modal-footer a:focus{
    color: #337ab7;
}

.slide-toggle {
    overflow: hidden;
    transition: all linear 1s;
    height: 160px;
    padding-top: 8px;
}

.ng-hide{
    height: 0;
}
.close{
    opacity: 0.8;
    color:#000;
    font-weight:100;
}
.close:hover{
    opacity: 0.4;   
}
.rotate, 
.rotateCounterwise {
    -webkit-transition: 300ms ease all;
    -moz-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 1s ease all;    
}
.rotate {
   transform: rotate(180deg);
}
.rotateCounterwise {
    transform: rotate(0deg);
}
.MRGRGT{
    margin-right: 8px;
}
.MRGBTM{
    margin-bottom: -2px;
}
.MRGTP{
    margin-top: -3px;
}
.MRGTOP{
    margin-top: -8px;
}
.MRGFTP{
    margin-top: -4px;
}
.MRGTOP{
    margin-top: -7px;
}
.HEIGHT{
    height: 130px !important;
}
.DWNARW{
    width: 8px;
    position: relative;
    -webkit-animation: mymove 5s infinite; 
    animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 5px;}
    75%  {top: 0px}
    100% {top: 5px;}
}
@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 5px;}
    75%  {top: 0px}
    100% {top: 5px;}
}



.CLR{
    color: red;
}
.TEXTBLUE {
    color: #004993;
}
.TXTCENTER{
    text-align: center;
}
.MAR5PXAUTO{
    margin: 5px auto;
}
.PADDR15PX {
    padding-right: 15px;
}
.FONT12PX{
    font-size: 12px;
}
.FONT12PX{
    font-size: 12px;
}
.FONT12PX div{
    font-size: 12px;
}
.FLOATRIGHT{
    float: right;
}
.FLOATLEFT{
    float: left;
}

/*Modal start here*/
label{
    color: #404040;
}
.modalDialog1 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: -50px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog1:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog1 > div {
    width: 630px;
    height: 550px;
    position: relative;
    margin: 10% auto;
    border-radius: 5px;
    background: #fff;
    background: -moz-linear-gradient(#fff);
    background: -webkit-linear-gradient(#fff);
    background: -o-linear-gradient(#fff);
}
.modalDialog1 .close {
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.modalDialog1 .modal-header{
    color: #333;
    padding: 10px !important;
}
.modal-body{
    overflow-y: auto;
    height: 450px;
    border-bottom: 1px solid #e5e5e5;
}
.myButton {
    padding: 0px 40px;
    margin: 0px 20px;
    color: #fff;
    background: #337ab7;
    border: 1px solid #337ab7;
}


.myButton1 {
    padding: 0px 40px;
    background: #fff;
    border: 1px solid gray;
}
.form-control1{
    font-size: 14px;
    width: 100%;
    padding: 6px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 2px;
}

.grayColor{
    color: gray;
    width: 50%;
    font-size: 13px;
}
.fileUpload {
    padding: 2px 15px !important;
    margin: 0px 0px 0 190px !important;
    width: 19%;
}
.displayFlex{
    display: inline-flex;
}
.top{
    margin-top: -2px;
}
.modal-footer1{
    padding: 10px 15px;
    text-align: center;
    border-radius: 0 0 6px 6px;
}
.red{
    color: red;
}